<h1 id="heading">Past Competitions</h1>

<p>検索</p>
<!--t 'competitions.index.title'の省略版-->
<!--ここの参照元のja.ymlでcompetitions:indexと指定しているため省略できる-->

<!--scope: :searchとすることでコントローラー側でparams[:search]でデータを受け取れる-->
<!--url:とすることでボタンを押したときにどのURLにリクエストを送ればいいか定義する。今回はcompetitionsのindexアクションに送りたいから、competitions_path-->
<!--GETメソッドを定義-->
<!--form_withのデフォルトはremote:trueであり、これだとXMLHttpRequest(Ajax)で通信が行われる。今回は使わないのでlocal:trueに-->
<div class="search-form">
  <%= form_with(scope: :search, url: competitions_path, method: :get, local: true) do |f| %>
    <div class="field">
      <!--t 'competitions.index.title'の省略版-->
      <!--ここの参照元のja.ymlでcompetitions:indexと指定しているため省略できる-->
      <%= f.label(:name,  (t '.name')) %>
<!--      text_field:nameとすることでコントローラー側でparams[:search][:name]でvalueを受け取れる-->
<!--      value:@search_params[:name]とすることで検索された情報（検索パラメーター）を保持できる-->
      <%= f.text_field :name, value: @search_params[:name] %>
    </div>

    <div class="field">
      <%= f.label(:period_start, (t '.period_start')) %>
      <%= f.date_field :period_start, value: @search_params[:period_start] %>
    </div>

    <div class="field">
      <%= f.label(:period_end, (t '.period_end')) %>
      <%= f.date_field :period_end, value: @search_params[:period_end] %>
    </div>


    <div class="actions">
      <%= f.submit(t '.search') %>
    </div>
  <% end %>
</div>




<div class="container">
  <div class="paginate">
    <!--    paginateを表示させる-->
    <%= will_paginate %>
  </div>
  <div class="row">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>title</th>
        <th>winner</th>
        <th>period</th>
      </tr>
      </thead>
      <tbody>
      <%   %>
      <% @competitions.each do |competition| %>
        <tr>
          <!-- competition_pathなどでrails routesしたときのprefixの値に_pathをつければパスになる-->
          <!-- しかし、今回は、リンク先のidが必要なshowリクエストだから、そのidを渡す必要がある-->
          <!-- だから、competition.idで、idを渡す-->
          <td><%=link_to competition.name,competition_path(competition.id) %></td>

          <% @winners_in_index.each do |winner| %>
            <!-- competitionのidとwinnerのcompetition_idが一致していたら、画像やname,pointを表示-->
            <% if competition.id == winner["competition_id"] %>

              <td>
                <%= image_tag "/item_images/#{winner["image"]}", width: "100px", height: "100"%><br>
                <br>
                <%= winner["name"] %><br>
                <%= winner["count"] %>
              </td>

            <% end %>
          <% end %>

          <td><%= competition.period_start %>〜<%= competition.period_end %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <div class="paginate">
    <%= will_paginate %>
  </div>
</div>

