<h1 id="heading">Past Competitions</h1>

<p>タイトルを検索</p>
<!--DBの変更に関わらないときはform_tagを使う-->
<%= form_tag(competitions_path,:method => 'get') do %>
  <%= text_field_tag :search %>
  <%= submit_tag 'Search', :name => nil %>
<% end %>

<div class="container">
  <div class="paginate">
    <!--    paginateを表示させる-->
    <%= will_paginate %>
  </div>
  <div class="row">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>title</th>
        <th>winner</th>
        <th>period</th>
      </tr>
      </thead>
      <tbody>
      <%   %>
      <% @competitions.each do |competition| %>
        <tr>
          <!-- competition_pathなどでrails routesしたときのprefixの値に_pathをつければパスになる-->
          <!-- しかし、今回は、リンク先のidが必要なshowリクエストだから、そのidを渡す必要がある-->
          <!-- だから、competition.idで、idを渡す-->
          <td><%=link_to competition.name,competition_path(competition.id) %></td>

          <% @winners_in_index.each do |winner| %>
            <!-- competitionのidとwinnerのcompetition_idが一致していたら、画像やname,pointを表示-->
            <% if competition.id == winner["competition_id"] %>

              <td>
                <%= image_tag "/item_images/#{winner["image"]}", width: "100px", height: "100"%><br>
                <br>
                <%= winner["name"] %><br>
                <%= winner["count"] %>
              </td>

            <% end %>
          <% end %>

          <td><%= competition.period_start %>〜<%= competition.period_end %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <div class="paginate">
    <%= will_paginate %>
  </div>
</div>

