<!DOCTYPE html>
<html>
<head>
  <title>Which do you like?</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <!--  vueをインポート-->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
  <!--  axiosをインポート-->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</head>

<body>
<%= render 'layouts/header' %>
<!--ログイン・ログアウトした際にはメッセージを作成する-->
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= yield %>
<%= render 'layouts/footer' %>
<!--デバッグ用の情報を表示させる。ただし、developments環境のみに表示-->
<%= debug(params)if Rails.env.development? %>
</body>
</html>
